
img{
    height: 25%;
    width: 25%;
    margin: 5px;
}
img:hover{
    -webkit-transform: scale(1.05);
    opacity: 0.8;
    transition: opacity .2 ease-in-out;


}
img.barbeit{
    padding-bottom: 125px;
}
img.bpferd{
    padding-bottom: 125px;
}

img.bland{
    padding-bottom: 125px;
}

img.bcamp{
    padding-bottom: 125px;
}

div{
    display: inline-block;
    text-align: center;
}