
img{
    height: 25%;
    width: 25%;
    margin: 5px;
}
img:hover{
    -webkit-transform: scale(1.05);
    opacity: 0.8;
    transition: opacity, transform 0.5s ease-in-out;
}
.barbeit, .bcamp, .bdump, .bland, .bpferd, .brodeo{
    padding-bottom: 125px;
}

div .gallery{
    display: inline-block;
    text-align: center;
}